<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
    <div th:fragment="navbar">

        <ul class="nav">
            <li><a href="/hello/get-date" th:classappend="${pageName == 'get-date' ? 'active' : ''}">Date</a></li>
            <li><a href="/hello/get-hello" th:classappend="${pageName == 'get-hello' ? 'active' : ''}">Hello</a></li>
            <li class="dropdown right"><a href="javascript:void(0)" class="dropbtn">Dropdown</a>
                <div class="dropdown-content right-aligned">
                    <a href="/logout">Αποσύνδεση</a>
                </div>
            </li>
        </ul>

    </div>
</body>
</html>